#container{
    background-color: rgb(186, 252, 236);
   
    
}

h1{
    text-align: center;
    background-color: rgb(186, 252, 236); 
    padding: 10px;
}

.box1{
    margin: 10px 20px;
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    
}

.box2{
    margin: 10px 20px;
    background-color: rgb(240, 162, 203);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.box3{
    margin: 10px 20px;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer {
    background-color: lightgray;
    text-align: center; 
    padding: 10px; 
}

